.no-style,
.no-style:focus {
  border: none;
  background: transparent;
  outline: none;
}

.resizing-input {
  min-width: 0;
  width: auto;
  display: inline;
}
.inputWrap {
  margin-left: 4px;
}
. .inputTag {
  text-align: center;
  color: black;
  vertical-align: middle;
}

.exit {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  font-size: 0.8rem;
}

.no-scroll {
  overflow: hidden;
  text-size: 0.9rem;
}

.btn-block {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .btn-block {
    display: block;
  }
}
